*.o
*.so
myprog
main.c
launch.json
.vscode
util.c
game
output.txt
testHtml.c
main.c
A2Test1.py
A2Test2.py
A3Test1.py
A3Test2.py
*.db
phylib.db

phylib_wrap.c
phylib_wrap.o
phylib.py

__pycache__
*.svg